<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/createnew.css" rel= "stylesheet" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <title>Create New Restaurant Page</title>
  </head>
  <body>
    <!--------- header with logo and user login status-------->
    
    <div class = "head-line">
      <a class="link-home" href="https:/manage">
        <img class="logo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fdining_icon-01.png?v=1575671513396"/>
      </a>
      
      <% if (curUser) {%>
          <a href="/logout">
            <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2F825104_arrows_512x512.png?v=1575876750895"/>
            </a>
      <%} else {%>
        <a class="link-login" href="https://final-pro-yay76-feq6.glitch.me/login">
          <img class="userLogo" src="https://cdn.glitch.com/54ccc57e-2201-4986-a083-7d154d5c4e6a%2Fperson-male.png?v=1575684362494"/>
        </a >
      <%}%>
  </div>  
    <!----------------------- forms---------------------->
   <div class="form-title">
      <h2> Create A New Restaurant </h2>
    </div>
    <div class="box">
      <form id="formRest"></form>
      <div class="row">
        <div class = "col-25">
          <label for="name">Name:</label>
        </div>
        <div class="col-75">
          <input type="text" class="form-control text-center" name="name" placeholder="Restaurant Name" form="formRest"/>
        </div>
      </div>
      <div class="row">
        <div class = "col-25">
          <label for="city">City:</label>
        </div>
        <div class = "col-75">
          <input type="text" class="form-control text-center" name="city" placeholder="Enter the City Restaurant Locate At" form="formRest"/>
        </div>
      </div>
      <div class="row">
        <div class = "col-25">
          <label for="zip">Zip code:</label>
        </div>
        <div class = "col-75">
          <input type="text" class="form-control text-center" name="zip" placeholder="Enter Zip Code: #####" form="formRest"/>
        </div> 
      </div>
      <div class="row">
        <div class="col-25">
          <label for="address">Street Address</label>
        </div>
        <div class = "col-75">
          <input type="text" class="form-control text-center" name="address" placeholder="Enter the Street Address" form="formRest"/>
        </div>
      </div>
      <div class="row">
        <div class = "col-25">
          <label for="contact">Phone:</label>
        </div>
        <div class = "col-75">
          <input type="text" class="form-control text-center" name="contact" placeholder="Enter the Phone Number: xxx-xxx-xxxx" form="formRest"/>
        </div>
      </div> 
      <div class="row">
        <div class = "col-25">
          <label for="cuisine">Cuisine Type:</label>
        </div>
        <div class = "col-75">
          <input type="text" class="form-control text-center" name="cuisine" placeholder="Cuisine Types" form="formRest"/>
        </div>
      </div> 
      <div class="row">
        <div class = "col-25">
          <label for="price">Price Level:</label>
        </div>
        <div class = "col-75">
          <select class="form-control text-center" name="price" form="formRest">
            <option value="1">1: less than 10 </option>
            <option value="2">2: between 10 to 50</option>
            <option value="3">3: between 50 to 80</option>
            <option value="4">4: between 80 to 150 </option>
            <option value="5">5: more than 150 </option>
          </select>
        </div>
        </div> 
      <div class="row">
        <div class="col-25">
          <label for="opendays"> Open Days:</label>
        </div>
        <div class = "col-75">
          <select class="form-control text-center" name="opendays" multiple form="formRest">
            <option value="Monday">Mon</option>
            <option value="Tuesday">Tue</option>
            <option value="Wednesday">Wed</option>
            <option value="Thursday">Thur</option>
            <option value="Friday">Fri</option>
            <option value="Saturday">Sat</option>
            <option value="Sunday">Sun</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class = "col-25">
          <label for="img">Image URL</label>
        </div>
        <div class = "col-75">
          <input type="text" class="form-control text-center" name="img" form="formRest" placeholder="Enter the URL of image"/>
        </div>
      </div>
      <div class="row">
        <div class = "col-25">
          <label for="option"  >Options</label>
        </div>
        <div class="col-75">
          <button class="btn btn-default add-btn">Add</button></div>
        </div>
        <div class="row ifields">
          <div class="col">
            <label for="tblsize">Table Size:</label>
            <select class="form-control text-center" name="size" form="formRest">
              <option value="small">Small(1-2)</option>
              <option value="medium">Medium(3-4)</option>
              <option value="large">Large(5-6)</option>
              <option value="party">Party(6+)</option>
            </select>
          </div>
          <div class="col">
            <label for="tbltime">Reserved Time:</label>
            <select class="form-control text-center" name="time" form="formRest">
              <option>11AM</option>
              <option>12PM</option>
              <option>1PM</option>
              <option>2PM</option>
              <option>3PM</option>
              <option>4PM</option>
              <option>5PM</option>
              <option>6PM</option>
              <option>7PM</option>
              <option>8PM</option>
              <option>9PM</option>
              <option>10PM</option>
              <option>11PM</option>
              <option>12AM</option>
            </select>
          </div>
        </div>
        <div class="row iclone"></div>
        <a class="create" href="">Submit</a>
      <a class="create" href="/manage">Cancel</a>
      </div>
    </div> 
      
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
      $(document).ready(function() {
      $('.add-btn').click(function() {
      var cl = $('.ifields').first().clone(true);
      $('.iclone').append(cl);});
      });
      
      $(".create").click(function(){
         var options = $('.row.ifields').map(function(){
            return {
              time: $(this).find('[name="time"]').val(),
              size: $(this).find('[name="size"]').val()
            };
          }).get();
      
          var data = $('.box').map(function() {
            return {
              name: $(this).find('[name="name"]').val(),
              city: $(this).find('[name="city"]').val(),
              zip: $(this).find('[name="zip"]').val(),
              address: $(this).find('[name="address"]').val(),
              contact: $(this).find('[name="contact"]').val(),
              cuisine: $(this).find('[name="cuisine"]').val(),
              price: $(this).find('[name="price"]').val(),
              opendays: $(this).find('[name="opendays"]').val(),
              img:$(this).find('[name="img"]').val(),
              options: options};
          });
        // console.log(options);
        console.log(data);
      
        $.ajax({
          url: 'https://final-pro-yay76-feq6.glitch.me/manage/newrest',
          type: 'POST',
          data: JSON.stringify({Rest: data}),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(data){alert(data);window.location.assign("https://final-pro-yay76-feq6.glitch.me/manage");},
          failure: function(errMsg) {
              alert(errMsg);
          }
        });
      });     
     
    </script>
  
  </body>  
</html>


