<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>profile</title>
    <link href="profile.css" rel="stylesheet" type="text/css"/>
  </head>
<body>
  <h1> Hi <%= user %></h1>
  <h2> Email: <%= email %> </h2>
</body>
</html>