/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width:100%;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}


.head-line{
  background-color: #34332D;
  height:8%;
}
.head-line img {
  position:relative;
  height:90%;
  top:5%;
  left: 47%;
}

.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url("https://p2.ifengimg.com/2019_23/D19AD008B62FB2E735DD49FB609DA51C4F53C6DC_w640_h353.gif");

  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner .col{
  
  text-align: center;
}

.promo {
  height: 50%;
}
.location{
  height:20%;
}
.location img{
  position:relative;
  height:60%;
  top:10%;
  left:5%
}

p {
  max-width: 600px;
}
/*
form {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}
*/
button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}


table{
  width:100%;
}

th, td{
  border:1px solid gray;
  text-align: center; 
  padding:1em;
}
